 @font-face {
     font-family: 'Material Icons';
     font-style: normal;
     font-weight: 400;
     src: url(../iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
     src: local('Material Icons'), local('MaterialIcons-Regular'), url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../iconfont/MaterialIcons-Regular.woff) format('woff'), url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
 .material-icons {
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     display: inline-block;
     width: 1em;
     height: 1em;
     line-height: 1;
     text-transform: none;
     letter-spacing: normal;
     word-wrap: normal;
    /* Support for all WebKit browsers. */
     -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
     text-rendering: optimizeLegibility;
    /* Support for Firefox. */
     -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
     font-feature-settings: 'liga';
}

.pad15 {
  background: transparent !important;
}


button, .btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
button i {
   float: left;
}


 .mishnav {
     background: #fff;
     box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .mynav {
     margin-left: 20px;
  }
  .mynav a {
     font-size: 14px;
  }
  .mynav button {
     border-radius: 0px;
     color: #fff;
     text-transform: uppercase;
     padding-left: 20px;
     padding-right: 20px;
  }
  .mynav button:hover {
      opacity: 0.6;
      color: #fff;
  }

  .backky {
    width: 100%;
    height: 450px;
  }
  .whot {
    width: 100%;
    float: left;
    height: 100%;
    background: linear-gradient(to left, rgba(49, 46, 97, 0.3), #38385e 30%, #563b72);

  }
  .whot h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 30px;
  }
  .whot p {
     color: #fff;
     font-size: 24px;
  }
  .hint-form {
    background: #fff;
    width: 100%;
    height: auto;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .hint-form input {
    border: 0px solid transparent;
    height: 50px;
    font-size: 13px;
  }
  .hint-form input:active, .hint-form select:active {
    border: 0px solid transparent;
  }
  .hint-form select {
    color: #ccc;
  }
  .hint-form button {
      float: right;
      height: 100%;
      border-radius: 0px;
      background: #6cd852;
      border: 0px solid transparent;
      color: #fff;
  }
  .tchala .col-md-2{
     padding: 20px 40px 20px 40px;
     border: 1px solid #eee;
  }
  .tchala .col-md-2 img{
    width: 20%;
    float: left;
  }
  .tchala .col-md-2 .stan {
     width: 63%;
     margin-left: 7%;
     float: left;
     font-size: 12px;
     font-weight: 500;
     color: #555;
  }

  .mini-tab a {
     border: 0px solid transparent;
  }
  .mini-tab a.active {
      background: transparent;
      color: #444;
      border-left: 2px solid #502e7d;
  }
  .neg h3 {
     margin-bottom: 20px;
  }
  .neg a p {
    margin-bottom: 30px;
    color: #333;
  }
  .neg span {
    font-size: 20px;
    width: 80%;
    float: left;
  }
  .neg {
    transition: all 0.5s ease-out;
     -webkit-transition: all 0.5s ease-out;
  }







  /** carousel **/
 .MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#transparent; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; background:transparent; color:#fff;font-size:13px;margin-top:-20px;}
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:transparent; }



.tana .col-md-2 {
    padding: 15px;
    float: left;
}
.tana .col-md-2 img {
     width: 80%;
     margin-left: 10%;
     float: left;
     height: 3 0px;
}

.foot {
    color: #502e7d;
    padding-top: 20px;
    padding-bottom: 20px;
}
.foot .col-md-4 {
    text-align: right;
    font-weight: bold;
}
.foot a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}
.modal a, p.forgotten a {
    color: #6ABB43;
}
.modal p {
    font-size: 12px;
}
.modal button {
    border-radius: 0px;
}
.modal label {
     font-size: 13px;
}

.testimonyText {
    padding: 50px;
    background: #fff;
}
.tagger a {
   font-weight: normal;
   background: #fff;
   color: #9b9b9b;
   padding: 6px 10px;
   margin-right: 20px;
}



.venor {
  background: #fff;
  margin-top: 20px;
  padding: 0px;
}
.venor h6 {
  font-size: 14px;
  margin-top: 10px;
}
.venor p {
  font-size: 14px;
  margin-bottom: 5px;
  width: 90%;
}
.venor .col-8 {
  padding: 0px;
}
.venor button {
  background: #6cd852;
  padding: 3px 25px 5px 25px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  color: #fff;
  float: right;
  margin-right: 50px;
  height: 32px;
  box-sizing: border-box;
  margin-top: 15px;
}

.vote {
  color: #ffc352;
}
.saver {
  margin-top: 15px;

}
.saver p {
  font-size: 12px;
}
.saver span {
  font-size: 12px;
  margin-left: 4px;
  font-weight: bold;
}
.page {
  margin-top: 50px;
}
a.all {
  font-size: 10px;
  color: #9b9b9b;
  margin-top: 10px;
}
.topSand {
  border-radius: 0px;
  background: #fff;
  width: 100%;
  text-align: left;
  height: 50px;
}
.topSand:active {
  border: 0px;
}
.locationShow {
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
}
.locationSearcher {
  background: #f9f9f9;
  border: 1px solid #ebebf2;
}
.topSand {
  margin-top: 24px;
}




/** checkbox **/

.containers {
  display: block;
  position: relative;
  padding-left: 18px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #9b9b9b;
}

/* Hide the browser's default checkbox */
.containers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  float: left;
}

/* Create a custom checkbox */
.containers .checkmark {
  position: absolute;
  top: 0;
  margin-top: 3px;
  border: 1px solid #ddd;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
  float: left;
}

/* On mouse-over, add a grey background color */
.containers:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containers input:checked ~ .checkmark {
  background-color: #502e7d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.containers .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containers input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containers .checkmark:after {
  left: 3px;
  top: 0px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sagger {
  display: none;
}
.sagger button {
  background: #ffc352;
  color: #fff;
}

.profilePic {
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  .profileHead {
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
     border-bottom: 10px solid #f9f9f9;
  }
  .profileHead h5 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .profileHead p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  p.desc {
    margin-top: 20px;
  }
  .myBtnColor {
    background: #6cd852;
    color: #fff;
    border-radius: 0px;
    webkit-border-radius: 0px;
    width: 120px;
  }
  .myBtnColor2 {
    background: #ffc352;
    color: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 120px;
  }
  .profile-dix {
    margin-top: 70px;
  }



.tbcn p {
  font-size: 14px;
  padding-top: 35px;
  width: 90%;
}
.tbcn ul {
   width: 90%;
}

.reviewForm button {
  background: #ffc352;
  color: #fff;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  font-size: 14px;
}
.reviewForm i {
  margin-right: 10px;
  font-size: 20px;
  color: #ddd;
  cursor: pointer;
}
.reviewForm i:hover {
  color: #ffc352;
}
.nego li {
  margin-bottom: 17px;
  margin-right: 60px;
  font-size: 12px;
  line-height: 18px;
}
.nad {
  font-size: 12px;
  margin-top: 15px;
  border-left: 2px dashed #4a90e2;
}
.nad .col-4 {
  color: #6cd852;
}
.resetSplash {
  display: none;
}


.adminBack {
      background: url('../img/adminImg.png') no-repeat center center / cover;
      height: 100vh;
      width: 100%;
      padding: 0px;
  }
  .back {
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.6);
     left: 0;
  }
  .panelLog {
    background: #fff;
    padding: 0px;
    margin-top: 5vh;

  }
  .logHead {
     background: #f5f5f5;
     font-size: 18px;
     padding-top: 20px;
    padding-bottom: 20px;
    color: #4a4a4a;
  }
  .loginPicAdmin {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 150px;
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .headCat {
    background: url('img/write.png') no-repeat center center / cover;
    padding: 0px;
  }
  .headCat .row {
    color: #fff;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .headCat button {
    background: #ffc352;
    color: #fff;
  }
  .headCat .mb-3 {
    margin-top: 40px;
  }
  .cat {
    margin-top: 30px;
  }


  .backReset {
      display: none;
  }
  .lister button {
    border: none;
  }
  .lister i {
    float: right;
    margin-top: 4px;
    color: #ffc352;
    cursor: pointer;
  }
  .proCap {
    background: #f5f5f5;
    height: auto;
  }
  .proCap .col-md-6 {
    padding: 15px;
    background: #fff;
    padding-bottom: 40px;
  }
  .proCap .col-md-6 img {
    width: 80%;
  }
  .proCap .col-md-6 span {
    font-size: 17px;
    font-weight: bold;
  }
  .proCap .col-md-6 p a {
    color: #444;
    text-decoration: none;
    font-size: 14px;
  }
  .proCap button {
    background: #ffc352;
    text-align: center;
    color: #fff;
    width: 100%;
  }
  .proTap {
    background: #fff;
    border: 20px solid #f5f5f5;
    border-top: none;
    min-height: 70vh;
  }

  .actionDia {
     background: #fff;
     color: #6cd852;
     border: 1px solid #6cd852;
  }
  .closeDia {
    background: #6cd852;
    color: #fff;
  }


  .mynav.dropdown .dropdown-menu a {
            font-size: 13px;
            color: #502e7d;
            height: 50px;
            padding-top: 15px;
            text-align: center;
         }
         .mynav.dropdown .dropdown-menu a:hover {
            background: #502e7d;
            color: #fff;
         }

.col-m {
     width: 20%;
     padding: 20px;
     box-sizing: border-box;
  }


  .myGreen {
    background: #66ef46;
    color: #fff;
  }
  .myGreen:hover, .myGreen:focus {
    background: #66ef46;
    color: #fff;
  }
  img.stans {
    width: 100%;
    margin-bottom: 30px;
  }






  @media (max-width: 767px) {

    .col-m {
     width: 50%;
  
  }

    .tchala .col-md-2 img{
      width: 8%;
    }
    .tchala .col-md-2 {
        width: 50%;
    }
    .hint-form {
    padding-left: 10px;
  }
  .hint-form input, .hint-form select {
    
    width: 35%;
  }
  .mini-tab a {
     width: 20%;
     background: #eee;
     overflow: hidden;
     color: #eee;
     height: 20px;
     border-right: 3px solid #fff;
  }
  .mini-tab a.active {
    background: #502e7d;
    color: #502e7d;
    border-right: 3px solid #fff;
  }
  .mini-tab {
    flex-direction: row;
  }
  .neg span {
     margin-bottom: 30px;
     width: 100%;
  }
  .tagger, .sideBin {
    display: none;
  }
  .sagger {
    display: block;
  }

   .proTap {
    background: #fff;
    border: none;
    margin-top: 30px;
  }
  }



@media(max-width: 768px) {
   .tana .col-md-2 {
   width: 33.333333333333%;

}
.tana .col-md-2 img {
    height: 30px;
}

}


@media(max-width: 580px) {

  .panelLog {
      margin-top: 50px;
  }

}





  @media(max-width: 480px) {
    .col-m {
     width: 100%;
     text-align: center;
  }

  .whot h2 {
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 15px;
  }
  .whot p {
     font-size: 12px;
  }
  .hint-form {
    height: 30px;
  }
  .hint-form input, .hint-form select {
    
    width: 33%;
    height: 25px;
    margin-top: 2.5px;
  }
  .tchala .col-md-2 img{
    width: 30%;
  }
  .tchala .col-md-2 .stan {
     width: 66%;
     margin-left: 4%;
  
  }
   .tchala .col-md-2{
     padding: 20px 20px 20px 20px;
  }
  }





















  /** admin panel **/


  .sideBar {
    background: #63438e;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    z-index: 1050;
    padding: 0px;
    transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;

  }
  .sideBar.hider {
      margin-left: 0%;
      transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  }

.menuBit {
  margin: 100px 0px 0px 0px;
  border-radius: 0px;
}
.menuBit a {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  background: transparent;
  color: #d3bfec;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  border: none;
}
.menuBit a i {
    font-size: 20px;
    margin-right: 20px;
}
.menuBit a:hover, .menuBit a.active {
   background: #502e7d;
   color: #fff;

}










.sta {
  font-size: 14px;
}
h5 {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 17px;
}
.patnet {
  background: #fff;
  padding: 20px;
  color: #4a4a4a;
  border: 10px solid #f8f9fd;
}
.crossPat {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f8f9fd;
  float: right;
}
.patnet .col-8 {
  
}
.patnet .col-4 {
  font-size: 25px;
  text-align: right;
  padding-top: 10px;
  font-weight: bold;
}
.graph {
  background: #fff;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 15px;
}
i.selBar {
  font-size: 30px;
  color: 555;
  position: fixed;
  z-index: 1100;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  display: none;
}
i.selBar.out {
  color: #fff;
}




 ul.nasty li a{
     color: #4a4a4a;
     
  }
  ul.nasty li a i {
    color: #502e7d;
    font-size: 20px;
  }


.dp input, .dp select {
  background: transparent;
  border: 1px solid #ddd;
}
.dp {
  font-size: 14px;
}
.ned {
   margin-top: 50px;
   font-size: 14px;
}
.ned a {
  color: #63438e;
}
.ned i {
  cursor: pointer;
  color: #63438e;
}



  @media(max-width: 991px) {
      ul.nasty {
        width: auto;
        display: inline;
        float: right;
        right: 0px;
      }
      ul.nasty li {
          float: left;
          width: auto;
      
      }

      ul.nasty li .dropdown-menu {
        position: absolute;
        margin-right: 500px;
      }

  }




@media (max-width: 767px) {
    .sideBar {
      margin-left: -100%;
      transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
    }
    .sideBar.hider {
      margin-left: 0%;
      transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
    }
    i.selBar {
      display: block;
    }


}



  @media(max-width: 500px) {
      ul.nasty li span {
        display: none;
      }
      ul.nasty li {
         margin-left: 30px;
      }
  }







